@import url(../lib/Cesium/Build/Cesium/Widgets/widgets.css);

/* style général */
* {
  box-sizing: border-box;
}

html, body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  overflow-y: auto;
  overflow-x: none;
  font-family: sans-serif;
  background: #000;
}

/*
 *
 * Style de la barre de menu
 *
 */
#menu {
  position: relative;
  top: 0;
  left: -440px;
  width: 440px;
  height: 100%;
  background-color: rgba(9, 12, 16, 0.60);
  padding: 5px 5px 0px 5px;
  border: 1px solid #000;
  border-radius: 5px;
  overflow-y: auto;
  overflow-x: none;
}

/* style du panel où on écrit 'MENU' */
#menu-content {
  display: block;
  position: relative;
  width: auto;
  background-image: linear-gradient(90deg, #020024 0%, #434d53 35%, #d7dcdd 100%);
  font-family: Arial, Gadget, sans-serif;
  font-size: 1.6em;
  font-weight: bold;
  padding: 1px;
  border-style: solid;
  border-radius: 5px 5px 5px 5px;
  text-align: center;
  color: black;
}
/* le menu bouge à l'ouverture */
#menu.menu-open{
  left: 0;
}

/*
 *
 * Style de la partie à droite du menu contenant toutes les légendes, formulaires et le bouton menu
 *
 */
 #left-pane{
  position: absolute;
  top: 00px;
  left: 00px;
  width: 275px;
  color: white;
  padding: 5px 5px 0 5px;
  bottom: 80px;
  overflow-y: auto;
  overflow-x: none;
  pointer-events: none;
}

/* position quand le menu est ouvert */
#left-pane.menu-open {
  left: 440px;
}

/* afficher le hamburger icon du bouton pour ouvrir le menu */
#left-pane #toggle-menu {
  display: inline-block;
  margin-bottom: 25px;
  background-color: rgba(57, 71, 75, 0.90);
  border: 1px solid #000;
  border-radius: 5px;
  pointer-events: auto;
}

/* les titres des légendes et formulaires */
#left-pane h2 {
  font-size: 1.7em;
  text-align: center;
}

/* Style de la partie Cesium*/
#cesiumContainer {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

/* Annimation du menu */
#menu, #left-pane {
  transition: all 0.3s;
}

/*
 *
 * Style des panels contenus dans le menu
 *
 */

 /* le panel = la div qui regroupe tout à l'intérieur du menu */
.panel{
  display: block;
  border: 1px solid #4E535A;
  border-radius: 5px;
  color: white;
  margin-bottom: 5px;
  width: 430px;
  z-index: 1;
  top: 0;
  left: 0;
  white-space: nowrap;
  overflow-x: none;
  overflow-y: auto;

}

/* chaque sous partie du menu (ex: paramètres), seulement un bouton (pas de div) */
.panel .panel-title{
  display: block;
  width: 100%;
  background-color: #909499;
  font-size: large;
  padding: 5px;
  border-radius: 5px 5px 5px 5px;
  text-align: center;
  color: white;
  cursor: pointer;
  overflow-x: none;

}

/* Style du titre lorsqu'on passe la souris dessus */
.panel-title:hover {
  color: #1a1a1a;
}

.active {
  color: black;
}

/* la div à l'intérieur de chaque panel-title */
.panel .panel-content{
  width: 100%;
  padding: 5px;
  display: none;
  overflow-x: none;
}

.panel .private-content{
  width: 100%;
  padding: 5px;
  overflow-x: none;
}

/* afficher le contenu des panel-content quand on clique dessus */
.panel .panel-content-open {
  display: inline-block;
  overflow-x: none;
}

/* les sous menus déroulants (style PPRI) */
.deroulant {
  display: block;
  width: 100%;
  background-color: #636F79;
  padding: 5px;
  border-radius: 5px 5px 0 0;
  text-align: center;
  color: white;
  cursor: pointer;
  overflow-x: none;
}

#guide {
  position: relative;
  left: 130px;
}

#doc {
  position: relative;
  left: 170px;
}

#private {
  display: block;
  position: absolute;
  right: 20px;
  top: 72px;
  cursor: pointer;
  z-index:1;
}

/*
 *
 * Style des légendes et formulaires
 *
 */
.backdrop {
  position: relative;
  display: inline-block;
  background: rgba(42, 42, 42, 0.7);
  border-radius: 5px;
  border: 1px solid #444;
  width: 100%;
  padding: 5px 10px;
  margin-bottom: 10px;
  color: #fff;
  line-height: 150%;
  font-size: small;
  overflow: auto;
  pointer-events: auto;
}

.backdrop a:link, .backdrop a:visited, .backdrop a:hover {
  color: #fff
}


/* Style de la legende */
.legend .legend-color {
  display: inline-block;
  height: 25px;
  line-height: 25px;
  width: 30%;
  float: left;
  margin-bottom: 5px;
  text-align: center;

}

.legend .legend-text{
  display: inline-block;
  height: auto;
  line-height: 25px;
  width: 70%;
  float: left;
  margin-bottom: 5px;
  padding-left: 5px;
  text-align: left;
}

.legend .legend-symbol {
  display: inline-block;
  height: auto;
  line-height: 25px;
  width: 30%;
  float: left;
  margin-bottom: 5px;
  text-align: center;
}

.legend .legend-element:first-child{
  margin-top: 5px;
  text-align: left;
}

.legend .legend-element:after{
  content: '';
  display: table;
  clear: both;
}

.legend .legend-line {
  display: block;
  height: 3px;
  line-height: 3px;
  position: relative;
  top: 3px;
  width: 30%;
  float: left;
  margin-bottom: 5px;
  text-align: center;
}

.tab {
  display:inline-block;
  width: 50px;
}

/*
 *
 * Style du loader = icône qui affiche le chargement de la page
 *
 */
.cover {
  display: block;
  position: absolute;
  background-color: rgba(0, 0, 0, 0.75);
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 2;
}

.loadingIcon {
  display: inherit;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -33px;
  margin-left: -33px;
  width: 66px;
  height: 66px;
  background: url(img/ajax-loader.gif) center no-repeat;
  z-index: 2;
}

/* Style de la flèche pour dérouler le menu*/
i {
  border: solid black;
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 3px;
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
}

.arrow {
  position: absolute;
  right: 15px;
}


/*
 *
 * Boite à outils
 *
 */
/* style des boutons*/
.button {
  height: auto;
  background: #303336;
  border: 1px solid #444;
  color: #edffff;
  fill: #edffff;
  padding: 3px 5px;
  margin: 2px 2px;
  cursor: pointer;
  border-radius: 14%;
  z-index: 0;

}

/* changement de couleur au survol des boutons */
.button:hover {
  color: #fff;
  fill: #fff;
  background: #48b;
  border-color: #aef;
}

/* style du contenu des boutons de la boite à outils */
.menuClic-content {
  display: none;
  position: absolute;
  background-color: #EDEDED;
  border: 1px solid #000;
  border-radius: 3px;
  z-index: 1;
}

/* position des boutons */
#mesures {
  position: absolute;
  top: 5px;
  left: 100px;
  transition: left 0.3s;
}
#construction {
  position: absolute;
  top: 5px;
  left: 145px;
  transition: left 0.3s;
}
#coupe {
  position: absolute;
  top: 5px;
  left: 190px;
  transition: left 0.3s;
}
#time {
  position: absolute;
  top: 5px;
  left: 235px;
  transition: left 0.3s;
}
#camera {
  position: absolute;
  top: 5px;
  left: 280px;
  transition: left 0.3s;
}
#link {
  position: absolute;
  top: 5px;
  left: 325px;
  transition: left 0.3s;
}

/* les boutons bougent à l'ouverture du menu */
#mesures.menu-open {
  left:540px;
  transition: left 0.3s;
}
#construction.menu-open {
  left:580px;
  transition: left 0.3s;
}
#coupe.menu-open {
  left:620px;
  transition: left 0.3s;
}
#time.menu-open {
  left:660px;
  transition: left 0.3s;
}
#camera.menu-open {
  left:700px;
  transition: left 0.3s;
}
#link.menu-open {
  left:740px;
  transition: left 0.3s;
}

/* ouverture du contenu en dessous des boutons de la boîte à outils */
.menuClic {
  display: block;
  background-color: #2B2F33;
  border-radius: 3px;
}

#camera-content {
  display: none;
  position: absolute;
  max-height: 450px;
  overflow-y: scroll;
  overflow-x: none;
}

/*
 *
 * Partie en bas à droite de l'écran
 *
 */

/* Les quatre points cardinaux pour orienter la vue */
#nordDiv {
  position: absolute;
  right: 6px;
  bottom: 145px;
  z-index: 0;
}
#estDiv {
  position: absolute;
  right: 6px;
  bottom: 110px;
  z-index: 0;
}
#sudDiv {
  position: absolute;
  right: 6px;
  bottom: 75px;
  z-index: 0;
}
#ouestDiv {
  position: absolute;
  right: 6px;
  bottom: 40px;
  z-index: 0;
}

#poubelleDiv {
  position: absolute;
  right: 45px;
  top: 7px;
  z-index: 1;
  border: none;
}

/* style de l'annotation pour tracer les figures */
.annotation {
  position: absolute;
  bottom: 40px;
  right: 50px;
  padding: 5px 5px 0 5px;
  display: block;
  background: rgba(42, 42, 42, 0.8);
  border-radius: 5px;
  border: 1px solid #444;
  width: auto;
  height: auto;
  padding: 5px 10px;
  margin-bottom: 10px;
  color: #fff;
  font-size: small;
  pointer-events: none;
}

/*
 *
 * Classes utilitaire
 *
 */
 /* style des checkbox à l'intérieur des panel du menu et du contenu des boutons de la boite à outils */
.nowrap {
  white-space: nowrap;
  list-style: none;
  display: block;
  padding: 12px 16px;
  text-decoration: none;
  overflow-x: none;
  position: relative;
}

.nowrap-private {
  white-space: nowrap;
  list-style: none;
  padding: 12px 16px;
  text-decoration: none;
  overflow-x: none;
  position: relative;
}

/* tous les élements cachés au départ */
.hidden {
  display: none;
}

/* le bouton d'ouverture du menu */
.hamburger-icon {
  position: relative;
  background: #303336;
  border: 1px solid #444;
  color: #edffff;
  fill: #edffff;
  padding: 5px 5px 5px calc(5px + 1.25em);
  cursor: pointer;
}

/* le bouton se déplace à l'ouverture du menu */
.hamburger-icon:before {
  content: "";
  position: absolute;
  top: calc(5px + 0.25em);
  left: 5px;
  width: 1em;
  height: 0.125em;
  border-top: 0.375em double #FFF;
  border-bottom: 0.125em solid #FFF;
}

.hamburger-icon:hover {
  color: #fff;
  fill: #fff;
  background: #48b;
  border-color: #aef;
}

/* les éléments qu'on rend visible */
.show {
  display:block;
  pointer-events: auto;
}
